@model IEnumerable<UnesaProjetoMvcAjax.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>@DateTime.Now</h2>
<h3>Nesse exemplo com o uso do Ajax a página não é toda carregada, como podemos ver com a NÃO alteração do horário, 
    assim economizando recurso de banda.</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    Pesquisar
    @using (Ajax.BeginForm("Index", "Cliente", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "divCliente"
    }))
    {
        @Html.TextBox("nome")
        <input type="submit" value="Pesquisar"/>
    }
</p>

@Html.Partial("_Cliente", Model)

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
